<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-panel-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="adminContent">
  <div class="container" style="margin-top: 100px;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#video-tab">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#movies-tab">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#users-tab">Users</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="video-tab" class="tab-pane fade show active">
        <h3>Table with videos</h3>
        <table class="table table-sm table-dark">
          <thead>
            <tr>
              <th>Title: </th>
              <th>Views: </th>
              <th>Rating: </th>
              <th>Edit: </th>
              <th>Delete: </th>
            </tr>
          </thead>
          <tbody id="videoTable">

          </tbody>
        </table>
      </div>
      <div id="movies-tab" class="tab-pane fade">
        <h3>Table with movies</h3>
        <table class="table table-sm table-dark">
          <thead>
          <tr>
            <th>Title: </th>
            <th>Views: </th>
            <th>Likes: </th>
            <th>Edit: </th>
            <th>Delete: </th>
          </tr>
          </thead>
          <tbody id="movieTable">

          </tbody>
        </table>
      </div>
      <div id="users-tab" class="tab-pane fade">
        <h3>Table with users</h3>
        <table class="table table-sm table-dark">
          <thead>
          <tr>
            <th>First Name: </th>
            <th>Second Name: </th>
            <th>Email: </th>
            <th>Role: </th>
            <th>Delete: </th>
          </tr>
          </thead>
          <tbody id="usersTable">

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editMovieModalLabel">Editing movie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <form>
                    <input type="text" id="movieTitleTab">
                    <textarea rows="10" id="movieDescrTab"></textarea>
                    <input type="number" id="movieViewsTab">
                    <input type="number" id="movieLikesTab">

                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="saveChangesMovie()">Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editVideoModalLabel">Editing video</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <form>
                  <input type="text" id="editTitleTab">
                  <textarea rows="10" id="editDescrTab"></textarea>
                  <input type="number" id="editViewsTab">
                  <input type="number" id="editLikesTab">

                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="saveChangesVideo()">Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteMovieModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" onclick="deleteMovie()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteVideoModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteVideo()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RoleModalLabel">Roles of user - </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="yourFormId">
            <div id="rolesContainer">

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="updateRolesForUser()">Add Role</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeleteUserModalLabel">Are you Sure? - </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteUser()">DELETE USER</button>
        </div>
      </div>
    </div>
  </div>


</div>
</html>
