<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <div class="row">
                <div class="col-sm-12">
                  <img src="images/logo-1.png" class="gen-footer-logo" alt="gen-footer-logo">
                  <p>Service for streaming videos and movies.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-12">
            <div class="widget">
              <h4 class="footer-title">Explore</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a th:href="@{'/movies'}" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a th:href="@{'/movies'}">Movies</a></li>

                  <li class="menu-item"><a th:href="@{'/videos'}">Videos</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-12">
            <div class="widget">
              <h4 class="footer-title">Company</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item"><a th:href="@{'/contact-us'}">Contact us</a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center">
                     <span class="gen-copyright"><a target="_blank" href="#"> Copyright 2023 All Rights
                           Reserved.</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>