<meta charset="utf-8">
<meta name="keywords" content="Streamlab - Video Streaming HTML5 Template" />
<meta name="description" content="Streamlab - Video Streaming HTML5 Template" />
<meta name="author" content="StreamLab" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="/">
<title>Streamlab - Video Streaming HTML5 Template</title>
<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- CSS bootstrap-->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<!--  Style -->
<link rel="stylesheet" href="css/style.css" type="text/css" />
<!--  Responsive -->
<link rel="stylesheet" href="css/responsive.css" type="text/css" />