<html lang="en" xmlns:th = "http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main_layout.html}">
<div layout:fragment="siteContent">
<!-- owl-carousel Banner Start -->
<section class="pt-0 pb-0">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="gen-banner-movies banner-style-2">
                    <div class="owl-carousel owl-loaded owl-drag carik " id="cardso" data-margin="0" data-desk_num="1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Banner End -->

<!-- owl-carousel Videos Section-1 Start -->
<section class="gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">All Time Hits</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag lolka" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30" id="mhmka">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-1 End -->

<!-- owl-carousel Videos Section-2 Start -->
<section class="pt-0 gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">Top Regional Shows</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag ewe" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-2 End -->

<!-- Slick Slider start -->
<section class="gen-section-padding-2 pt-0 pb-0">
    <div class="container">
        <div class="home-singal-silder">
            <div class="gen-nav-movies gen-banner-movies">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider slider-for">
                            <!-- Slider Items -->
                            <div class="slider-item" style="background: url('images/background/asset-4.jpeg')">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>thieve the bank</h3>
                                                        <p>Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item" style="background: url('images/background/asset-23.jpeg')">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>Love your life</h3>
                                                        <p>Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item" style="background: url('images/background/asset-24.jpeg')">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>The Last Witness</h3>
                                                        <p>Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item" style="background: url('images/background/asset-25.jpeg')">
                                <div class="gen-slick-slider h-100">
                                    <div class="gen-movie-contain h-100">
                                        <div class="container h-100">
                                            <div class="row align-items-center h-100">
                                                <div class="col-lg-6">
                                                    <div class="gen-movie-info">
                                                        <h3>Fight For Life</h3>
                                                        <p>Streamlab is a long established fact that a reader will be distracted by
                                                            the readable content of a page when Streamlab at its layout Streamlab.
                                                        </p>

                                                    </div>
                                                    <div class="gen-movie-action">
                                                        <div class="gen-btn-container button-1">
                                                            <a class="gen-button" href="#" tabindex="0">
                                                                <i aria-hidden="true" class="ion ion-play"></i>
                                                                <span class="text">Play Now</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Items -->
                        </div>
                        <div class="slider slider-nav">
                            <div class="slider-nav-contain">
                                <div class="gen-nav-img">
                                    <img src="images/background/asset-4.jpeg" alt="steamlab-image">
                                </div>
                                <div class="movie-info">
                                    <h3>thieve the bank</h3>
                                    <div class="gen-movie-meta-holder">
                                        <ul>
                                            <li>30mins</li>
                                            <li>
                                                <a href="action.html">
                                                    Action </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-nav-contain">
                                <div class="gen-nav-img">
                                    <img src="images/background/asset-23.jpeg" alt="streamlab-image">
                                </div>
                                <div class="movie-info">
                                    <h3>Love your life</h3>
                                    <div class="gen-movie-meta-holder">
                                        <ul>
                                            <li>1hr 46mins</li>
                                            <li>
                                                <a href="action.html">
                                                    Action </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-nav-contain">
                                <div class="gen-nav-img">
                                    <img src="images/background/asset-24.jpeg" alt="streamlab-image">
                                </div>
                                <div class="movie-info">
                                    <h3>The Last Witness</h3>
                                    <div class="gen-movie-meta-holder">
                                        <ul>
                                            <li>1hr 37 mins</li>
                                            <li>
                                                <a href="action.html">
                                                    Action </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-nav-contain">
                                <div class="gen-nav-img">
                                    <img src="images/background/asset-25.jpeg" alt="streamlab-image">
                                </div>
                                <div class="movie-info">
                                    <h3>Fight For Life</h3>
                                    <div class="gen-movie-meta-holder">
                                        <ul>
                                            <li>2hr 25 mins</li>
                                            <li>
                                                <a href="action.html">
                                                    Action </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slick Slider End -->

<!-- owl-carousel Videos Section-3 Start -->
<section class="gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">Watch For Free: Movie Mania</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel owl-loaded owl-drag ewe1" data-dots="false" data-nav="true" data-desk_num="4"
                         data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                         data-loop="false" data-margin="30">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-3 End -->

<!-- owl-carousel images Start -->
<section class="pt-0 gen-section-padding-2 home-singal-silder">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gen-banner-movies">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="1"
                         data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                         data-loop="true" data-margin="30">
                        <div class="item" style="background: url('images/background/asset-20.jpeg')">
                            <div class="gen-movie-contain h-100">
                                <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-movie-info">
                                                <h3>Command in your hand</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <li>1 Season</li>
                                                    <li>3 Episode</li>
                                                    <li>2013</li>
                                                    <li>
                                                        <a href="#"><span>Comedy</span></a>
                                                    </li>
                                                </ul>
                                                <p>Streamlab is a long established fact that a reader will be distracted by the
                                                    readable content of a page when Streamlab at its layout Streamlab.</p>
                                            </div>
                                            <div class="gen-movie-action">
                                                <div class="gen-btn-container">
                                                    <a href="single-episode.html" class="gen-button gen-button-dark">
                                                        <span class="text">Play now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="background: url('images/background/asset-21.jpeg')">
                            <div class="gen-movie-contain h-100">
                                <div class="container  h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-movie-info">
                                                <h3>stories of the dark</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <li>1 Season</li>
                                                    <li>5 Episode</li>
                                                    <li>2015 to 2016</li>
                                                    <li>
                                                        <a href="#"><span>Biography</span></a>
                                                    </li>
                                                </ul>
                                                <p>Streamlab is a long established fact that a reader will be distracted by the
                                                    readable content of a page when Streamlab at its layout Streamlab.</p>
                                            </div>
                                            <div class="gen-movie-action">
                                                <div class="gen-btn-container button-1">
                                                    <a href="single-episode.html" class="gen-button gen-button-dark">
                                                        <span class="text">Play now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="background: url('images/background/asset-37.jpeg')">
                            <div class="gen-movie-contain h-100">
                                <div class="container  h-100">
                                    <div class="row align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-movie-info">
                                                <h3>Against Beast</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <li>1 Season</li>
                                                    <li>1 Episode</li>
                                                    <li>2017 to 2018</li>
                                                    <li>
                                                        <a href="#"><span>Drama</span></a>
                                                    </li>
                                                </ul>
                                                <p>Streamlab is a long established fact that a reader will be distracted by the
                                                    readable content of a page when Streamlab at its layout Streamlab.</p>
                                            </div>
                                            <div class="gen-movie-action">
                                                <div class="gen-btn-container button-1">
                                                    <a href="single-episode.html" class="gen-button gen-button-dark">
                                                        <span class="text">Play now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel images End -->

<!-- owl-carousel Videos Section-4 Start -->
<section class="pt-0 gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h4 class="gen-heading-title">All Time Hits</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                            <span class="text">More Videos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div class="owl-carousel one-more">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-4 End -->

<!-- Back-to-Top start -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- Back-to-Top end -->
</div>
</html>