<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{recover-password-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<div layout:fragment="passContent">
    <section class="position-relative pb-0">
        <div class="recover-password-page-background" style="background-image:url('images/phone-recover.jpg');">
        </div>
        <div class="container" id="userChecking">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <form id="pms_recover_password_form" class="pms-form">
                            <h4>Recover Password</h4>
                            <input type="hidden" id="pmstkn" name="pmstkn" value=""><input type="hidden"
                                                                                           name="_wp_http_referer" value="/recover-password/">
                            <p class="font-weight-bold">Please enter your email address.<br></p>
                            <ul class="pms-form-fields-wrapper pl-0 mb-4">
                                <li class="pms-field">
                                    <label for="user_email_pms">Email</label>
                                    <input id="user_email_pms" name="pms_username_email" type="text" value="">
                                </li>
                            </ul>
                        </form>
                        <button type="submit" name="submit"  onclick="checkUser()">NEXT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="password-fields" style="display: none;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <form name="pms_login" id="pms_login">
                            <h4>Recover password</h4>
                            <p class="login-username">
                                <label for="user_login">Old password</label>
                                <input type="password" name="user_name" id="user_old" class="input" value="" size="20">
                            </p>
                            <p class="login-password">
                                <label for="user_pass">New password</label>
                                <input type="password" name="user_password" id="user_new" class="input" value="" size="20">
                            </p>
                        </form>
                        <button type="submit" onclick="changePassword()">Log in</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>